.funny-glasses{
    position: relative;
    left: 210px;
    bottom: 110px;
}

.bandana{
    position: absolute;
    top: 180px;
    left: 105px;
}

.pawprint{
    position: fixed;
    top: 45px;
    left: 67px;
}

.luna{
    position: sticky;
    left: 0;
}
.top-hat{
    z-index: 50;
}